/* THR scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Gray */
  --color-neutral-50: 250, 250, 250;
  --color-neutral-100: 244, 244, 245;
  --color-neutral-200: 228, 228, 231;
  --color-neutral-300: 212, 212, 216;
  --color-neutral-400: 161, 161, 170;
  --color-neutral-500: 113, 113, 122;
  --color-neutral-600: 82, 82, 91;
  --color-neutral-700: 63, 63, 70;
  --color-neutral-800: 39, 39, 42;
  --color-neutral-900: 24, 24, 27;
  --color-neutral-950: 3, 7, 18;
  /* Green */
  --color-primary-50: 240, 253, 244;
  --color-primary-100: 220, 252, 231;
  --color-primary-200: 187, 247, 208;
  --color-primary-300: 134, 239, 172;
  --color-primary-400: 74, 222, 128;
  --color-primary-500: 34, 197, 94;
  --color-primary-600: 22, 163, 74;
  --color-primary-700: 22, 129, 62;
  --color-primary-800: 22, 101, 52;
  --color-primary-900: 20, 83, 45;
  --color-primary-950: 5, 46, 22;
  /* Cyan */
  --color-secondary-50: 236, 254, 255;
  --color-secondary-100: 207, 250, 254;
  --color-secondary-200: 165, 243, 252;
  --color-secondary-300: 103, 232, 249;
  --color-secondary-400: 34, 211, 238;
  --color-secondary-500: 6, 182, 212;
  --color-secondary-600: 8, 145, 178;
  --color-secondary-700: 14, 116, 144;
  --color-secondary-800: 21, 94, 117;
  --color-secondary-900: 22, 78, 99;
  --color-secondary-950: 8, 51, 69;
}
