{{ define "main" }}
  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
  </header>
  <section class="prose max-w-full dark:prose-invert mb-6">
    {{ .Content | emojify }}
  </section>
  <section class="prose max-w-full dark:prose-invert">
  {{ if .Data.Pages }}
    <div class="grid grid-cols-1 lg:grid-cols-2 max-w-full gap-5">
    {{ range .Data.Pages }}
      <a class="pagelink flex flex-row max-w-full gap-3" href="{{ .RelPermalink }}" title="{{ .Title }}">
        <div class="pageicon sm:pageIconSmall flex-none">
          {{ if .Params.pageIcon }}
            {{ $icon := resources.Get (.Params.pageIcon) }}
            {{ $icon.Content | safeHTML }}
          {{ end }}
        </div>
        <div class="pageinfo flex-auto prose dark:prose-invert">
          <h2>{{ .Title }}</h2>
          {{ if .Params.description }}
            <p>{{ .Params.description }}</p>
          {{ end }}
        </div>
      </a>
    {{ end }}
    </div>
  {{ else }}
  </section>
    <section class="prose mt-10 dark:prose-invert">
      <p class="border-t py-8">
        <em>{{ i18n "list.no_articles" | emojify }}</em>
      </p>
    </section>
  {{ end }}
{{ end }}
